<% include ../partials/header %>

<<<<<<< HEAD
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">YelpCamp</p>
      <a href="/campgrounds" class="btn btn-danger">Back to campgrounds</a>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
      <div id="map"></div>
    </div>
    <div class="col-md-9">
      <!-- CAMPGROUND -->
      <div class="thumbnail">
        <img class="img-responsive" src="<%= campground.image %>">
        <div class="caption-full">
          <h4 class="pull-right"><%= campground.price %>/night</h4>
          <h4><a><%= campground.name %></h4></a>
          <p><%= campground.description %></p>
          <p>
            <em>Submitted by <%= campground.author.username %></em>
          </p>
          <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
            <a class="btn btn-warning" href="/campgrounds/<%= campground.id %>/edit">Edit Campground</a>
            <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form>
          <% } %>
        </div>
      </div>
      <!-- COMMENTS -->
      <div class="well">
        <div class="text-right">
          <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Post a comment</a>
=======
<section id="show">
    <div class="container">
      <div class="row">
        <div class="col l3">
          <a href="/campgrounds" class="btn btn-danger">Go back</a>
>>>>>>> add-materialize
        </div>
        <div class="col l9">
          <!-- Campground -->
          <div class="card">
            <div class="card-image">
              <img class="campground-img" src="<%= campground.image %>">
            </div>
            <div class="card-content">
              <h5 class="right">$<%= campground.price %>/night</h5>
              <h5><%= campground.name %></h5>
              <p><%= campground.description %></p>
              <p><em>Submitted by <%= campground.author.username %></em></p>
              <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                <a class="btn-flat yellow darken-3 white-text" href="/campgrounds/<%= campground.id %>/edit">Edit post</a>
                <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                  <button class="btn-flat red darken-2 white-text">Delete post</button>
                </form>
              <% } %>
            </div>
          </div>
          <!-- Comments -->
          <div class="card-panel grey lighten-2">
            <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn-flat green darken-1 white-text">Post a comment</a>
            <hr>
            <% campground.comments.forEach(function(comment){ %>
              <div class="row">
                <div class="col-md-12">
                  <span class="comment-author"><em><%= comment.author.username %></em></span>
                  <span class="right">10 days ago</span>
                  <p class="comment-text"><%= comment.text %></p>
                  <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                    <a class="btn-small yellow darken-3" 
                    href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                    Edit
                    </a>
                    <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                    <button class="btn-small red darken-2">Delete</button>
                    </form>
                  <% } %>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
    
</section>

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-3">-->
<!--      <p class="lead">YelpCamp</p>-->
<!--      <a href="/campgrounds" class="btn btn-danger">Back to campgrounds</a>-->
<!--      <div class="list-group">-->
<!--        <li class="list-group-item active">Info 1</li>-->
<!--        <li class="list-group-item">Info 2</li>-->
<!--        <li class="list-group-item">Info 3</li>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-md-9">-->
      <!-- CAMPGROUND -->
<!--      <div class="thumbnail">-->
<!--        <img class="img-responsive" src="<%= campground.image %>">-->
<!--        <div class="caption-full">-->
<!--          <h4 class="pull-right"><%= campground.price %>/night</h4>-->
<!--          <h4><a><%= campground.name %></h4></a>-->
<!--          <p><%= campground.description %></p>-->
<!--          <p>-->
<!--            <em>Submitted by <%= campground.author.username %></em>-->
<!--          </p>-->
<!--          <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>-->
<!--            <a class="btn btn-warning" href="/campgrounds/<%= campground.id %>/edit">Edit Campground</a>-->
<!--            <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">-->
<!--              <button class="btn btn-danger">Delete</button>-->
<!--            </form>-->
<!--          <% } %>-->
<!--        </div>-->
<!--      </div>-->
      <!-- COMMENTS -->
<!--      <div class="well">-->
<!--        <div class="text-right">-->
<!--          <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Post a comment</a>-->
<!--        </div>-->
<!--        <hr>-->
<!--        <% campground.comments.forEach(function(comment){ %>-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <strong><%= comment.author.username %></strong>-->
<!--            <span class="pull-right">10 days ago</span>-->
<!--            <p>-->
<!--             <%= comment.text %>-->
<!--            </p>-->
<!--            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>-->
<!--              <a class="btn btn-xs btn-warning" -->
<!--                 href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">-->
<!--                Edit-->
<!--              </a>-->
<!--              <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">-->
<!--                <button class="btn btn-xs btn-danger">Delete</button>-->
<!--              </form>-->
<!--            <% } %>-->
<!--          </div>-->
<!--        </div>-->
          
<!--        <% }); %>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaABrfVmjP-cZ27U2W2qCkT1o1Zmv4MzA&callback=initMap"></script>

<% include ../partials/footer %>